

body {
    font-family: 'Fraunces', serif;
    font-weight: 200;
    background-color: #1a1a2e;
}

.fixed-width {
    max-width: 768px;
}

a {
    color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}
