html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #2C3E50;
    background: -webkit-linear-gradient(135deg, rgba(44, 62, 80, 1) 0%, rgba(75, 48, 106, 1) 50%, rgba(115, 60, 110, 1) 100%);
    background: -moz-linear-gradient(135deg, rgba(44, 62, 80, 1) 0%, rgba(75, 48, 106, 1) 50%, rgba(115, 60, 110, 1) 100%);
    background: linear-gradient(135deg, rgba(44, 62, 80, 1) 0%, rgba(75, 48, 106, 1) 50%, rgba(115, 60, 110, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2C3E50", endColorstr="#733C6E", GradientType=0);

    /*
    Gradient Colours
    #2c3e50,   deep navy
    #4b306a    muted purple
    #733c6e    deep rose
    */
}